.wrapper {
    display: flex;
    align-items: center;
    gap: var(--mantine-spacing-md);
    
    @media (max-width: $mantine-breakpoint-md) {
      flex-direction: column;
      padding: var(--mantine-spacing-lg);
    }
  }
  
  .image {
    max-width: 50%;
  
    @media (max-width: $mantine-breakpoint-sm) {
      max-width: 100%;
    }
  }
  
  .body {
    padding-right: var(--mantine-spacing-xl);
  
    @media (max-width: $mantine-breakpoint-sm) {
      padding-right: 0;
      margin-top: var(--mantine-spacing-xl);
    }
  }

  .highlight {
    position: relative;
    background-color: var(--mantine-color-tsRed-light);
    border-radius: var(--mantine-radius-sm);
    padding: 4px 12px;
  }